@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "tailwindcss";





:root {
  --font-display: 'Poppins', sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #1368EC;
}

@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background-color: #fcfbfc;
    /* overflow: hidden; */
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black 
         bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 
         border border-slate-200 outline-none;
}

/* .btn-primary{
  @apply w-full text-sm font-medium text-white bg-primary shadow-purple-600/5 p-[10] rounded-md my-1 hover:bg-blue-600/15 hover:text-blue-800 cursor-pointer;
} */

.card{
  @apply bg-white p-6 rounded-2xl shadow-md shadow-blue-100 border border-blue-200/50
}

.task-start-btn{
  @apply flex items-center justify-center gap-3 text-[14px] font-medium  text-gray-700 hover:text-gray-50 bg-gray-300 hover:bg-gray-600 hover:border-blue-100 px-4 py-1.5 rounded-lg border-gray-700 cursor-pointer transition-all duration-350 active:scale-95 ease-in-out
}

.card-btn{
  @apply flex items-center gap-3 text-[12px] font-medium text-blue-700 hover:text-blue-500 bg-gray-50 hover:bg-blue-100 hover:border-blue-100 px-4 py-1.5 rounded-lg border-blue-700 border-[1px] cursor-pointer transition-all duration-350 active:scale-95 ease-in-out ;
}

.card-btn-user-list{
  @apply flex items-center gap-3 text-[12px] font-medium text-gray-500 hover:text-gray-900 bg-gray-100 hover:bg-gray-300 px-4 py-1.5 rounded-lg  cursor-pointer transition-all duration-350 active:scale-95 ease-in-out ;
}


.card-btn-create-task{
  @apply flex items-center gap-3 text-[12px] font-medium text-white hover:text-gray-700 bg-gray-400 hover:bg-white px-4 py-1.5 rounded-lg cursor-pointer transition-all duration-350 active:scale-95 ease-in-out ;
}

.card-btn-task{
  @apply flex items-center gap-3 text-[12px] font-medium text-red-600 
  hover:text-white hover:bg-[#ff0000] px-4 py-1.5 rounded-lg 
  border-[#ff0000] hover:font-bold border-[1px] cursor-pointer 
  transition-all duration-350 ease-in-out active:scale-95;
  }

.form-card{
  @apply bg-white p-6 rounded-lg shadow-md shadow-gray-100 border border-gray-200/50
}

.from-input{
  @apply w-full text-sm text-black outline-none bg-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500;
}

.btn{
  @apply bg-white p-4 rounded-lg shadow-md shadow-gray-100 border border-gray-200/50 hover:bg-blue-100 hover:text-green-900 font-medium;
}
.c{
  @apply hover:bg-blue-100 hover:text-red-700 
}
.round {
  @apply w-[10px] h-[10px] rounded-full mr-[8px];
}
.userList{
  @apply bg-gray-100 p-6 rounded-2xl shadow-md shadow-gray-200 border border-gray-200/50
}

.taskLi{
  @apply p-[10px] 
  list-none 
  rounded-xl
   shadow-blue-200 border
   border-blue-300/50
  hover:text-blue-400 bg-gray-50 hover:bg-blue-50 px-4 py-1.5 cursor-pointer;
  
}

.task{
  @apply p-6 rounded-2xl shadow-md shadow-blue-100 border border-blue-200/50
}

.truncated-btn {
  @apply text-[12px] px-4 py-1.5 font-medium rounded-lg border border-gray-200/50 bg-gray-50 text-gray-700 
         max-w-[90px] truncate whitespace-nowrap overflow-hidden 
         hover:max-w-[300px] transition-all duration-300 ease-in-out 
         inline-block w-fit cursor-pointer h-[30px] hover:text-blue-700 hover:bg-blue-100 md:max-w-[300px] active:scale-96;
}
